.form-header {
  text-align: center;
}

.form-inputs {
  width: 40%; 
  margin: 25px auto;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.disp {
  display: inline;
  padding: 3.5px;
}
