<% include ./partials/header %>

<div class="row">
  <h1 class="form-header">Register</h1>
    <div class="form-inputs">
      <form action="/register" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="password">
        </div>        
        <div class="form-group">
          <input class="form-control" type="text" name="firstName" placeholder="John">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="lastName" placeholder="Doe">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="avaar" placeholder="avatar url">
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="email" placeholder="email">
        </div>
        
        <!--input secret code for admin access-->
        <div class="form-group">
          <input class="form-control" type="text" name="adminCode" placeholder="admin code (optional)">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Register</button>
        </div>
      </form>
      <a href="/campgrounds">Go to all campgrounds</a>
    </div>
</div>

<% include ./partials/footer %>