<% include partials/header %>

<h1>
  <%= campground.name %>
</h1>

<picture>
  <img class ="img-thumbnail" src="<%= campground.image %>">
</picture>

<p>
  <%= campground.description %>
</p>


<% include partials/footer %>
